name: Update Configs
permissions: write-all

on:
  push:
    branches: [main]
  schedule:
    - cron: "*/30 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: cd files && pip install -r requirements.txt
      - run: cd files && python app.py
      - run: cd files && python sort.py
      - uses: EndBug/add-and-commit@v9
        with:
          author_name: T3stAcc
          message: Updated!
          add: .
          push: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
